{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main" class="posts">
        <div class="title">
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            <!-- {{ partial "subtitle.html" . }} -->

        </div>
        <div class="intro">
            <p> Hi, Ciao, Oi, まいど.<br>
            I'm John. I'm a scientist, coder, and tutor. And these are some of the things I work on. </p>
        </div>
        <!-- Projects grid view -->
        <div class="projects-grid">
            {{ range where .Site.RegularPages "Section" "projects" }}
                <div class="project-card">
                    <a href="{{ .Params.link }}" >
                        <img src="{{ .Params.image }}" alt="{{ .Title }}">
                    </a>
                    <p>{{ .Summary }}</p>
                </div>
            {{ end }}
        </div>
        
        <hr> <!-- Tutoring section-->
        {{ partial "tutor-card.html" site.Data.tutoring }}

        {{ with site.GetPage "tutoring" }}
            {{ .Content }}
        {{ end }}
        <div>
            {{ .Content }}
        </div>

        {{- with .Site.Params.social }}
            <div>
                {{ partial "social-icons.html" . }}
            </div>
        {{- end }}
    </main>
{{ end }}
