/*////////////////////*/
/*Overall page styling*/
/*Vertical flex box*/
.flex-vert{
    display:flex;
    flex-direction:column;
    padding: 0;
    align-items: center;
    width:100%;
}

/* Horizontal flex box*/
.flex-horz{
    display:flex;
    flex-direction:row;
}

html, body{
    margin:0;
    height:100%;
}

.full-page{
    height:auto;
	width: 100%;
    min-height:100%;
}


img.mugshot {
	float:right;
}




/*////////////////////*/
/*.menu bar*/
.menu{
    background-color: #0000ff;
    flex: 0 0 200px;
	transition: flex 0.5s, width 0.5s;
	overflow:hidden;
	text-overflow: clip;
}
.menu ul{
    list-style-type:none;
    padding: 0px;
    margin: 0px;
	position:relative;
}

.menu ul li {
	border-bottom: 1px solid yellow;
    margin: 2%;
    position:relative;
}

.menu ul li .active {
	background-color:  #4881ea;
}

/*Text in each element*/
.menu ul li a {
    padding:16px;
    text-align:right;
    color: #e6e6e6;
    display:block;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration:none;
}
.menu ul li a:hover{
    background-color: #1344a0;
}

/*////////////////////*/
/*.Hamburger menu - w3schools*/
#container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #e6e6e6;
  margin: 6px 0;
  transition: 0.4s;
}
/*How the icon changes on click*/
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}



/*////////////////////*/
/*Main body text*/

header {
    width:100%;
}

main {
    flex: 1 0 auto;
	padding: 0 3%;
	max-width: 1000px;
}

/*Header 1*/
h1 {
	color: #0000ff;
	text-align: center;
}

/*Header 2*/
h2 {
	color:gray;
	text-align: center;
}

/*General text*/
p {
	color: black;
	text-align: left;
    font-size:1.2em;
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


/*Hyperlinks*/
a:link, a:visited, a:hover {
	color:blue;
	background-color:transparent;
	text-decoration:none;
}

/*Horizontal rule*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*Contact page information*/
.contact-list {
    list-style-type:none;
    text-align:right;
    padding: 0;
}
.contact-list li {
}
.contact-list li a {
}
.contact-list li img{
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
}
.contact-list p{
    display:inline;
    vertical-align: middle;
}

/*Paper publication styling*/
.paper > p {
	margin: 0;
}
/*First p child of paper class*/
.paper > p:first-child{
	font-size:1.7em;
}



/*////////////////////*/
/*Footer*/
footer {
    flex-shrink:0;
    text-align:center;
    width:100%;
    /*padding:2%;*/
}
footer ul li {
    display: inline;
}

/*footer images*/
footer ul li img {
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
}

footer p {
    margin:auto;
    text-align: center;
}



#hamburger{
	visibility: hidden;
	width: 40px;
	height: 40px;
	position: absolute;
	    background-color: #0000ff;

}

.minimized {
	width: 0px;
	flex: 0 0 0;
}


@media only screen and (max-width: 720px){
	/*Make main body and nav now overlap */
	#main-body{
		position:absolute;
		/*z-index: -10;*/
	}
	
	.menu {
		z-index: 10;
	}
	.nav-attachment{
		z-index: 10;
	}
	#hamburger{
		visibility: visible;
		
	}
}





