/*////////////////////*/
/*Overall page styling*/

/*////////////////////*/
/*Main body text*/

:root {
    /* 3 primary colours of the site */
    --color1: rgb(47, 77, 184);
    --color2: rgb(184, 143, 47);
    --color3: rgb(184, 74, 47);
    --colorl: rgb(150, 150, 225);   /*Light color*/
    --colord: rgb(15, 18, 31);      /*dark color*/
}

h1 {
    color: var(--color1);
    text-align: center;
}

h2 {
    color:var(--color2);
    text-align: center;
}

p {
    color: var(--colord);
    text-align: left;
    font-size:1.2em;
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


/*Hyperlinks*/
a:link, a:visited, a:hover {
    color: var(--color3);
    text-decoration:none; /*remove colour changes when already visited */
}

/*Horizontal rule*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color3);
    margin: 0;
    padding: 0;
}

/*////////////////////*/
/*top banner*/
header {
    width:100%; /*horizonal rule covers all  of the page width*/
}

/*////////////////////*/
/*main content in each page*/
main {
    flex: 1 0 auto;
    padding: 0 3%;
}

/*////////////////////*/
/*Footer*/
footer {
    text-align:center;
    width:100%;
    bottom: 0;
    position: absolute;
    height: 152px;            /* Footer height */
}
footer ul li {
    display: inline;
}

/*footer images*/
footer img {
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
    border-radius: 50%;
}

footer p {
    margin:auto;
    text-align: center;
}

/*////////////////////*/
/*Contact page information*/
.contact-list {
    list-style-type:none;
    text-align:right;
    padding: 0;
}
.contact-list li {
}
.contact-list li a {
    vertical-align: middle;
}
.contact-list li img{
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
}
.contact-list p{
    display:inline;
    vertical-align: middle;
}

/*Paper publication styling*/
.paper > p {
    margin: 0;
}
/*First p child of paper class*/
.paper > p:first-child{
    font-size:1.7em;
}

/*Vertical flex box*/
#page-vert{
    /*display:flex;
    flex-direction:column;*/
    /*padding: 0 2%;*/
    /*align-items: center;*/
    width:100%;
    min-height: 100vh;
    position: relative;
    /*flex-grow: 1000;*/
    max-width: 1000px;
    margin: 0 auto;
}

/* Horizontal flex box containing full page of content*/
.page-wrapper{
    display:flex;
    flex-direction:row;
}

#content-wrap {
    padding-bottom: 152px;    /* Footer height. Pad with size of footer to fit in footer */
}
/*html, body{
margin:0;
height:100%;
}*/

/*.full-page{
height:auto;
width: 100%;
min-height:100%;
}*/


img.mugshot {
    float:right;
    padding: 5px 2%
}

img.textImage {
    float:left;
    height: 200px;
    padding: 5px 2%
}



/*////////////////////*/
/*.menu bar*/
/*.container{
position: fixed;
height: 100%;
}*/

.menu{
    background-color: var(--color1);
    background-image: linear-gradient(var(--color1), var(--colorl));
    /*flex: 0 0 250px;*/
    transition: width 0.5s;
    overflow:hidden;
    text-overflow: clip;
    position: relative;
    width: 250px;
}
.menu ul{
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    /*position:relative;*/
}

.menu li {
    border-bottom: 1px solid var(--color3);
    /*position:relative;*/
}

.menu .active {
    color: var(--color2);
}

/*Text in each element*/
.menu a {
    text-align:right;
    color: var(--colord);
    display:block;
    padding: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration:none;
    transition: 0.5s
}
.menu a:hover{
    background-color: var(--colorl);
}

/*////////////////////*/
/*.Hamburger menu - w3schools*/
/*#container {
display: inline-block;
cursor: pointer;
}*/

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--color1);
    margin: 6px 0;
    transition: 0.4s;
    position: relative;
    left: 2px;
}
/*How the icon changes on click*/
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-attachment{

}

#hamburger{
    position: absolute;
    background-color: white;
    visibility: hidden;
    width: 40px;
    height: 40px;
    position: fixed;
    left:0px;
    -webkit-transition: left 0.5s;
    transition: 0.5s;

    /*background-color: var(--color1);*/
}

#hamburger.change {
    left: 250px;

}

.minimized {
    width: 0px;
    /*flex: 0 0 0;*/
}


@media only screen and (max-width: 720px){


    .menu {
        z-index: 10;
        position: fixed;
        height: 100%;
    }

    #hamburger{
        visibility: visible;
        z-index: 10;
    }

}
